* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Times New Roman";
}

html {
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #4e4e4e 0%, #1b1b1b 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.display-design {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  text-align: right;
  border-radius: 5px;
}

#input,
#output {
  padding: 15px;
  background-color: white;
  font-size: 20px;
  transition: all 2s ease-out;
  word-wrap: break-word;
}

#input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#output {
  border-top: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttons-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 90px);
  /* border: rgb(83, 79, 139) 2px solid; */
}

button {
  transition: 0.5s;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: rgb(90, 90, 90);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: rgb(130, 130, 130);
  transition: 0.5s;
}

#flex-container {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  padding: 50px;
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
  border: 1px solid white;
  transition: all 2s ease-out;
}

.bkspc {
  grid-column: 3/5;
}

.clear {
  grid-column: 1/3;
}

.equality {
  background-color: orange;
}

.equality:hover {
  background-color: rgb(167, 112, 12);
}

#darkMode {
  height: 10%;
  position: fixed;
  top: 25px;
  left: 25px;
}
